footer
	.row
		.col-xs-12
			.footer-social
				p Присоединяйтесь к нам в социальных сетях:
				ul.list-unstyled
					li: a(href="javascript:;", title="Фейсбук") Фейсбук
					li: a(href="javascript:;", title="Вконтакте") Вконтакте
					li: a(href="javascript:;", title="Инстраграм") Инстраграм
					li: a(href="javascript:;", title="YouTube") YouTube
					li: a(href="javascript:;", title="Твиттер") Твиттер

	.row
		.col-xs-12
			.footer-copy
				p Федеральное агентство по делам Содружества Независимых государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству


