header
	.row
		.col-xs-12
			.header-top
				a(href="javascript:;" title="Сайты представительств").pull-left.header-repres-sites Сайты представительств

				select(data-width="fit").selectpicker.lang.pull-left
					option Русский язык
					option English
					option Deutch
					option Français					option Espaniol

				a(href="https://vladpetroff.github.io/rossotrud/public" title="Обычная версия сайта").pull-right
					span #[i(aria-hidden="true").fa.fa-eye.fa-lg] Обычная версия сайта

	.row
		.col-xs-12
			a(href="./" title="На главную страницу")
				.header-logo.pull-left
					img(src="./img/icons/rs-logo-mini.png" alt="Россотрудничество")
			.header-text.pull-left
				h1 РОССОТРУДНИЧЕСТВО
				p.
					Федеральное агентство по делам Содружества Независимых #[br]
					государств, соотечественников, проживающих за рубежом,#[br]
					и по международному гуманитарному сотрудничеству


