.row
	a.col-sm-6(href="http://placehold.it/350x150&text=FooBar1" data-toggle="lightbox" data-footer="Название фото" data-gallery="multiimages" data-type="image")
		img.img-responsive(src="http://placehold.it/350x150&text=FooBar1" alt="")
	a.col-sm-6(href="http://placehold.it/350x150&text=FooBar2" data-toggle="lightbox" data-footer="Название фото" data-gallery="multiimages" data-type="image")
		img.img-responsive(src="http://placehold.it/350x150&text=FooBar2" alt="")