include _mixins.jade

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		block title

		block css
			link(href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Sans:400,400i,700,700i&subset=cyrillic" rel="stylesheet")
			link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
			// Элементы форм  http://silviomoreto.github.io/bootstrap-select/
			link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css", rel="stylesheet")
			// Чекбоксы и радио https://github.com/flatlogic/awesome-bootstrap-checkbox
			+styles('awesome-bootstrap-checkbox.css')

			+styles('style.css')

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		// Modern behaviour for old browsers:
		script(src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.5/es5-shim.min.js")
		script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js")

		block scripts
			// https://www.devbridge.com/sourcery/components/jquery-autocomplete/
			script(src="./js/jquery.autocomplete.min.js" defer)

			// Элементы форм  http://silviomoreto.github.io/bootstrap-select/
			script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js")

			// https://github.com/js-cookie/js-cookie
			script(src="./js/js.cookie.js" defer)
			script(src="./js/main.js" defer)
body
	.container-fluid#out
		.row#settings
			.container
				.row
					.col-xs-12
						h2.text_only Настройки отображения

						.access
							dl.a-fontsize
								dt Размер шрифта
								dd
									a.a-fontsize-small(href='#' title="Уменьшить размер") A
								dd
									a.a-fontsize-big(href='#' title="Увеличить шрифт") A
							dl.a-colors
								dt Цвет
								dd
									a#a-color1.chooseColor(href='#', rel='color1', title="Черный по белому") Ц
								dd
									a#a-color2.chooseColor(href='#', rel='color2', title="Белый по черному") Ц
								dd
									a#a-color3.chooseColor(href='#', rel='color3', title="Черный по голубому") Ц
							p.a-settings Настройки #[a(href="#", aria-hidden="true", title="Настройки").fa.fa-cog.fa-lg]
							p.a-search Поиск #[a(href='/search.html', aria-hidden="true", title="Страница поиска").fa.fa-search]

							.popped.hidden
								h2 Настройки шрифта:
								p.choose-font-family
									span Выберите шрифт
									a#sans-serif.font-family(rel='sans-serif', href='#', title="Arial") Arial
									a#serif.font-family(rel='serif', href='#', title="Times") Times New Roman
								p.choose-letter-spacing
									span Интервал между буквами
									a#spacing-small.letter-spacing(rel='spacing-small', href='#', title="Стандартный интервал") Стандартный
									a#spacing-normal.letter-spacing(rel='spacing-normal', href='#', title="Средний интервал") Средний
									a#spacing-big.letter-spacing(rel='spacing-big', href='#', title="Большой интервал") Большой
								h2 Выбор цветовой схемы:
								ul.choose-colors
									li#color1
										a(rel='color1', href='#', title="Черный по белому").chooseColor Черный по белому
									li#color2
										a(rel='color2', href='#', title="Белый по черному").chooseColor Белый по черному
									li#color3
										a(rel='color3', href='#', title="Черный по голубому").chooseColor Черный по голубому

								p.saveit
									a.default(href='#', title="Вернуть стандартные настройки") Вернуть стандартные настройки
									a.closepopped(href='#', title="Закрыть панель") Закрыть панель




		.page.container
			include _header.jade

			block content

			include _footer.jade

