extends includes/template

block title
	title about_manage_glebova.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li.active: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="about_programs.html", title="Государственные программы") Государственные программы
				a(href="about_structure.html", title="Структура") Структура
				a(href="about_manage.html", title="Руководство").active Руководство

	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница
					li: a(href="about.html", title="О Россотрудничестве") О Россотрудничестве
					li: a(href="about_manage.html", title="Руководство") Руководство
		.row
			.col-xs-12
				h1 Любовь Николаевна Глебова
				h2 Руководитель Россотрудничества
				p Доктор педагогических наук, член-корреспондент Российской академии образования, действительный государственный советник РФ 1 класса

				hr

				h4 Государственные награды:
				p Медаль ордена «За заслуги перед Отечеством» II степени #[br]Орден «За заслуги перед Отечеством» IV степени

				h2 Биография
				p Родилась 7 марта 1960 года в городе Арзамасе Нижегородской области.
				h4 Образование
				p Окончила Арзамасский государственный педагогический институт им. А. П. Гайдара.
				h4 Трудовая деятельность
				p Cоветник Председателя Правительства Российской Федерации С. В. Кириенко.
				p Депутат Государственной Думы Федерального Собрания Российской Федерации.
				p Заместитель Полпреда Президента Российской Федерации в Приволжском федеральном округе.
				p Статс-секретарь — заместитель Министра здравоохранения и социального развития Российской Федерации.
				p Руководитель Федеральной службы по надзору в сфере образования и науки.
				p Член Совета Федерации от Пензенской области.
				p Указом Президента Российской Федерации от 23.03.2015 г. № 148 назначена руководителем Федерального агентства по делам Содружества Независимых Государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству.

		h2 Новости
		section.news.row
			time.col-xs-12 15 апреля
			article.col-xs-12
				a(href="newsDetail.html", title="В РЦНК в Афинах обсудили вопросы межправославных греко-российских связей")
					h3 Официально
					h2 В РЦНК в Афинах обсудили вопросы межправославных греко-российских связейе

			time.col-xs-12 9 марта
			article.col-xs-12
				a(href="newsDetail.html", title="Президент Сербии и руководитель Россотрудничества обсудили вопросы восстановления Храма Святого Саввы")
					h3 Официально
					h2 Президент Сербии и руководитель Россотрудничества обсудили вопросы восстановления Храма Святого Саввы

			time.col-xs-12 25 декабря 2015
			article.col-xs-12
				a(href="newsDetail.html", title="ВОКС – Россотрудничество: история длинною в 90 лет")
					h3 90 лет народной дипломатии
					h2 ВОКС – Россотрудничество: история длинною в 90 лет

			p.readmore.text-center.col-xs-12
				a(href="news.html", title="Другие новости о персоне") Другие новости о персоне

	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li.active: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="about_programs.html", title="Государственные программы") Государственные программы
				a(href="about_structure.html", title="Структура") Структура
				a(href="about_manage.html", title="Руководство").active Руководство