extends includes/template

block title
	title about_programs_rulang.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li.active: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="about_programs.html", title="Государственные программы").active Государственные программы
				a(href="about_structure.html", title="Структура") Структура
				a(href="about_manage.html", title="Руководство") Руководство

	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница
					li: a(href="about.html", title="О Россотрудничестве") О Россотрудничестве
					li: a(href="about_programs.html", title="Государственные программы") Государственные программы

		.row
			.col-xs-12
				h1 Русский язык

				p Государственные заказчики программы «Русский язык» — Минобрнауки России и Россотрудничество.
				h4 На первом этапе (в 2016–2018) годах планируется:
				ul
					li   провести комплекс научно-исследовательских работ в области функционирования, развития и изучения русского языка;
					li разработать техническое, учебно-методическое обеспечение единого электронного образовательного пространства, объединяющего ресурсы для организации обучения русскому языку и на русском языке на всех уровнях подготовки;
					li провести подготовку, переподготовку, повышение квалификации преподавателей русского языка;
					li обеспечить организационно-методическую поддержку русских школ в странах СНГ и других иностранных государствах;
					li поставить учебники, учебные пособия, научно-популярные книги и журналы по русскому языку, литературе и культуре в российские центры науки и культуры, русские школы и классы в иностранных государствах;
					li создать полноценные условия для обучения иностранных граждан русскому языку в объёмах, необходимых для их трудовой деятельности в России;
					li создать центры коллективного доступа к российским образовательным, информационно-просветительским и социокультурным ресурсам на базе российских центров науки и культуры и образовательных организаций в странах СНГ и других иностранных государствах.

				h4 На втором этапе (в 2019–2020 годах):
				ul
					li развивать кадровый потенциал в сфере русского языка;
					li завершить формирование инфраструктуры системы открытого образования на русском языке и обучения русскому языку;
					li обеспечить широкую вариативность программ обучения русскому языку с использованием дистанционных технологий образования;
					li расширить присутствие русского языка в сети Интернет;
					li повысить популярность и престиж русского языка и образования на русском языке.

	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li.active: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="about_programs.html", title="Государственные программы").active Государственные программы
				a(href="about_structure.html", title="Структура") Структура
				a(href="about_manage.html", title="Руководство") Руководство