extends includes/template

block title
	title about_structure.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li.active: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="about_programs.html", title="Государственные программы") Государственные программы
				a(href="about_structure.html", title="Структура").active Структура
				a(href="about_manage.html", title="Руководство") Руководство

	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница
					li: a(href="about.html", title="О Россотрудничестве") О Россотрудничестве
		.row
			.col-xs-12
				h1 Структура

				h2 Управление гуманитарного сотрудничества и молодежной политики
				p Основная деятельность УГСиМП — содействие развитию культурных, молодежных и иных гуманитарных связей с иностранными государствами, содействие продвижению и популяризации российского историко-культурного наследия и отечественной культуры за рубежом, реализация программы краткосрочных ознакомительных поездок в Российскую Федерацию молодых представителей политических, общественных, научных и деловых кругов иностранных государств «Новое поколение», а также работа с инициативным проектами российских и зарубежных организаций.

				h2 Управление обеспечения деятельности
				p Основными направлениями деятельности Управления являются материально-техническое, документационное, правовое обеспечение, организационный контроль, развитие информационных ресурсов, организация государственных закупок и управление имуществом.

				h2 Управление по делам Содружества Независимых Государств
				p Основными направлениями деятельности Управления являются: общая координация деятельности представительств Россотрудничества (РЦНК) в государствах-участниках СНГ, Республике Абхазия и Республике Южная Осетия; формирование программно-проектных приоритетов в деятельности Россотрудничества в государствах-участниках СНГ, Республике Абхазия и Республике Южная Осетия на текущий период и перспективу; взаимодействие и реализация совместных соглашений, проектов и программ с международными, региональными, национальными, правительственными и неправительственными организациями в целях создания благоприятных условий для расширения всестороннего сотрудничества Российской Федерации с государствами-участниками СНГ, республиками Абхазия и Южная Осетия; реализация полномочий Россотрудничества как заказчика-координатора Межгосударственной программы инновационного сотрудничества государств-участников СНГ на период до 2020 года.

				h2 Управление по делам соотечественников и развитию общественной дипломатии
				p Обеспечивает организацию и координацию работы по реализации основных мероприятий Программы работы с соотечественниками, проживающими за рубежом, в части компетенции Россотрудничества. Участвовало в разработке и подготовке проекта Программы на 2015 – 2017 годы. Организует мероприятия по поддержанию и сохранению находящихся за рубежом мест погребения, имеющих для Российской Федерации историко-мемориальное значение. Развивает взаимодействие с российскими и зарубежными неправительственными организациями; координирует деятельность обществ дружбы; содействует поддержанию и развитию международных контактов субъектов Российской Федерации; координирует сотрудничество между породненными городами.

				h2 Управление РЦНК и страновых программ
				p Осуществляет оперативное управление деятельностью представительств (РЦНК), совершенствовует формы и методы их деятельности; участвует в подготовке предложений по развитию и оптимизации сети представительств за рубежом, модернизации их деятельности и внедрению лучших практик; контролирует выполнение представительствами планов и анализирует отчёты об их деятельности; содействует реализации на базе РЦНК программ, направленных на развитие региональной и субрегиональной интеграции.

				h2 Управление содействия международному развитию (СМР) и взаимодействию с международными организациями
				p Занимается разработкой, согласованием и реализацией среднесрочных и долгосрочных программ в сфере содействия международному развитию (СМР) на двустороннем уровне, а также разработкой механизмов, критериев оценки и мониторингом их реализации; взаимодействием с федеральными органами государственной власти Российской Федерации по вопросам выработки и реализации государственной политики в сфере СМР; осуществляет учет программ официальной помощи развитию в части компетенции Россотрудничества; организует мероприятий по повышению кадрового потенциала в российском СМР; осуществляет информационное сопровождение тематики СМР в России и за рубежом, в том числе с использованием потенциала РЦНК.


	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li.active: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="about_programs.html", title="Государственные программы") Государственные программы
				a(href="about_structure.html", title="Структура").active Структура
				a(href="about_manage.html", title="Руководство") Руководство