extends includes/template

block title
	title about_programs_strategy.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li.active: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="about_programs.html", title="Государственные программы").active Государственные программы
				a(href="about_structure.html", title="Структура") Структура
				a(href="about_manage.html", title="Руководство") Руководство

	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница
					li: a(href="about.html", title="О Россотрудничестве") О Россотрудничестве
					li: a(href="about_programs.html", title="Государственные программы") Государственные программы

		.row
			.col-xs-12
				h1 Стратегические коммуникации российского содействия международному развитию

				p В рамках программы проводятся мероприятия, позволяющие поучаствовать в обсуждении актуальных вопросов содействия международному развитию (СМР) всем заинтересованным сторонам.
				h2 2014
				p В 2014 году Агентство в партнерстве с МИД России провело Заседание делового совета при Министре иностранных дел Российской Федерации на тему «Взаимодействие органов государственной власти Российской Федерации и российского бизнеса в сфере содействия международному развитию». В мероприятии приняли участие главы ведущих предпринимательских объединений России, крупнейших отечественных компаний и банков, а также представители руководства МИД, Минфина, Минэкономразвития России и других заинтересованных министерств и ведомств. Данное мероприятие послужило толчком для дальнейшего сотрудничества между государством и бизнесом по вопросам СМР.
				h2 2015
				p В соответствии с Перечнем мероприятий председательства Российской Федерации в межгосударственном объединении БРИКС в 2015-2016 гг., утвержденным Президентом Российской Федерации, Россотрудничеству поручена организация встречи в рамках БРИКС старших должностных лиц, курирующих вопросы СМР.

	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li.active: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="about_programs.html", title="Государственные программы").active Государственные программы
				a(href="about_structure.html", title="Структура") Структура
				a(href="about_manage.html", title="Руководство") Руководство