extends includes/template

block title
	title index.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li.active: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="javascript:;", title="Содействие международному развитию") Содействие международному развитию
				a(href="javascript:;", title="Общественная дипломатия") Общественная дипломатия
				a(href="javascript:;", title="Продвижение русской культуры").active Продвижение русской культуры
				a(href="javascript:;", title="Поддержка соотечественников") Поддержка соотечественников
				a(href="javascript:;", title="Укрепление позиций русского языка") Укрепление позиций русского языка
				a(href="javascript:;", title="Образование и наука") Образование и наука
				a(href="javascript:;", title="Сохрание историко-мемориальных памятников и мест погребения") Сохрание историко-мемориальных памятников и мест погребения
				a(href="javascript:;", title="Развитие международных связей субъектов РФ") Развитие международных связей субъектов РФ


	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница
					li: a(href="activity.html", title="Деятельность") Деятельность
		.row
			.col-xs-12
				h1 Продвижение русской культуры
				p Уникальность культуры каждого народа является не только его отличительным знаком, но и составляет феномен культурного многообразия человеческой цивилизации в целом. Культура России также является неотъемлемой ее частью.
				p Россия — страна, обладающая огромным культурным наследием и многовековыми культурными традициями. Исторические и географические особенности нашей страны способствовали тому, что Россия развивалась как государство, где сосуществовали и развивались множество культур, взаимодополняя друг друга. Именно эта характерная черта делает русскую культуру притягательной для иностранцев, которые на протяжении не одного столетия пытаются постичь загадочную «русскую душу».
				p Достижения России в области литературы, музыки, балета, театра, изобразительного искусства признаны во всем мире.
				p Русская литература является не только отражением эстетических, нравственных и духовных ценностей своего народа, но отличается глубоким психологизмом в изображении человеческих характеров. Произведения А. С. Пушкина, Ф. М. Достоевского, Л. Н. Толстого, А. П. Чехова, С. А. Есенина давно стали достоянием мировой литературы.
				p Русская классическая музыка дала миру такие имена, как П. И. Чайковский, М. И. Глинка, С. В. Рахманинов, И. Ф. Стравинский, С. С. Прокофьев, Д. Д. Шостакович.
				p Русское изобразительное искусство прославили многие художники, среди них В. А. Серов, В. И. Суриков, В. М. Васнецов, А. А. Иванов, К. З. Малевич, М. З. Шагал. Их картины — всегда желанные участники международных вернисажей.
				p Во всем мире заслуженным авторитетом и признанием пользуются русская театральная и балетная школа. По «системе К. С. Станиславского» работают многие театральные и киноактеры. В России работают театры, имеющие мировую славу, такие как Мариинский театр, Большой и Малый театры. Русский балет прославили Г. С. Уланова, М. М. Плисецкая, Р. Х. Нуриев, М. Н. Барышников. «Русские сезоны», а затем и «Русский балет» Сергея Дягилева неизменно собирали полные залы и были одним из крупнейших событий в мире культуры. В мировую историю оперы вписаны такие имена, как Ф. И. Шаляпин, С. Я. Лемешев, Г. П. Вишневская.
				p Российский кинематограф с момента возникновения был связан с историческими процессами, происходящими в стране и в мире в целом. Многие киноленты получали мировые награды, такие как Премия Академии кинематографических искусств и наук («Оскар»), награды Каннского международного кинофестиваля.  Классиками мирового кино стали фильмы С. М. Эйзенштейна «Броненосец „Потемкин“», Г. В. Александрова «Веселые ребята», И. А. Пырьева «Свинарка и пастух», С. Ф. Бондарчука «Война и мир», М. К. Калатозова «Летят журавли», А. А. Тарковского «Солярис», В. В. Меньшова «Москва слезам не верит», Н. С. Михалкова «Утомленные солнцем», П. С. Лунгина «Остров», А. К. Котта «Брестская крепость».
				p Одним из направлений деятельности Россотрудничества является представление культурного наследия России за ее пределами, а также содействие международному сотрудничеству в сфере культуры.
				p Россотрудничество поддерживает и реализует международные проекты в области культуры и искусства в соответствии с Основными направлениями политики Российской Федерации в сфере международного культурно-гуманитарного сотрудничества.
				p Агентство имеет 93 представительства в 80 странах мира, двери которых открыты для всех, кто активно интересуется Россией и российской культурой. На базе российских центров науки и культуры регулярно проходят различные мероприятия, направленные на популяризацию культуры народов России: концерты российских фольклорных, музыкальных и танцевальных коллективов; творческие встречи с известными российскими деятелями культуры; выставки современных художников; тематические фотовыставки архивных материалов российских музеев; кинопоказы последних достижений отечественной кинематографии; спектакли российских театров для взрослой и детской аудитории.
				p Россотрудничество принимает активное участие в Перекрестных годах России с зарубежными странами, а также проводит серии мероприятий за рубежом, приуроченных к памятным датам российской истории.

	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li.active: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="javascript:;", title="Содействие международному развитию") Содействие международному развитию
				a(href="javascript:;", title="Общественная дипломатия") Общественная дипломатия
				a(href="javascript:;", title="Продвижение русской культуры").active Продвижение русской культуры
				a(href="javascript:;", title="Поддержка соотечественников") Поддержка соотечественников
				a(href="javascript:;", title="Укрепление позиций русского языка") Укрепление позиций русского языка
				a(href="javascript:;", title="Образование и наука") Образование и наука
				a(href="javascript:;", title="Сохрание историко-мемориальных памятников и мест погребения") Сохрание историко-мемориальных памятников и мест погребения
				a(href="javascript:;", title="Развитие международных связей субъектов РФ") Развитие международных связей субъектов РФ
