extends includes/template

block title
	title activity.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li.active: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты

	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница
		.row
			.col-xs-12
				h1 Деятельность и проекты
				.list.row
					ul.list-unstyled.col-xs-12
						li: a(href="activityDetail.html", title="Содействие международному развитию") Содействие международному развитию
						li: a(href="activityDetail.html", title="Общественная дипломатия") Общественная дипломатия
						li: a(href="activityDetail.html", title="Продвижение русской культуры") Продвижение русской культуры
						li: a(href="activityDetail.html", title="Поддержка соотечественников") Поддержка соотечественников
						li: a(href="activityDetail.html", title="Укрепление позиций русского языка") Укрепление позиций русского языка
						li: a(href="activityDetail.html", title="Образование и наука") Образование и наука
						li: a(href="activityDetail.html", title="Сохрание историко-мемориальных памятников и мест погребения") Сохрание историко-мемориальных памятников и мест погребения
						li: a(href="activityDetail.html", title="Развитие международных связей субъектов РФ") Развитие международных связей субъектов РФ


	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li.active: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты