extends includes/template

block title
	title index.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li.active: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="javascript:;", title="Содействие международному развитию") Содействие международному развитию
				a(href="javascript:;", title="Общественная дипломатия") Общественная дипломатия
				a(href="javascript:;", title="Продвижение русской культуры").active Продвижение русской культуры
				a(href="javascript:;", title="Поддержка соотечественников") Поддержка соотечественников
				a(href="javascript:;", title="Укрепление позиций русского языка") Укрепление позиций русского языка
				a(href="javascript:;", title="Образование и наука") Образование и наука
				a(href="javascript:;", title="Сохрание историко-мемориальных памятников и мест погребения") Сохрание историко-мемориальных памятников и мест погребения
				a(href="javascript:;", title="Развитие международных связей субъектов РФ") Развитие международных связей субъектов РФ


	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница
					li: a(href="activity.html", title="Деятельность") Деятельность
					li: a(href="activityDetail.html", title="Продвижение русской культуры") Продвижение русской культуры
		.row
			.col-xs-12
				h1 День победы
				p 9 мая 2016 года отмечается 71-я годовщина Победы в Великой Отечественной войне 1941-1945 гг., которая явила всему миру не только мощь нашего оружия, но и мощь русского духа и стала основной вехой отечественной истории.
				p Россотрудничество традиционно поддерживает акции "Георгиевская ленточка" и "Бессмертный полк".
				p На базе российских центров науки и культуры проводятся комплексные мероприятия, в которых основной акцент делается на теме сохранения исторической памяти и недопущения попыток намеренного искажения истории Великой Отечественной войны. В рамках комплексных мероприятий  проходят презентации тематических выставок, памятных изданий и специальных публикаций, а также показы субтитрированных фильмов, праздничные концерты и другие общественные мероприятия.

		.row
			.col-xs-12
				h1 Анонсы

				section.anons.row
					article.col-xs-12
						a(href="anonsDetail.html", title="Писатель горечи и гнева")
							time 28 января 18:00
							h3 Таджикистан, РЦНК в Душанбе
							h2 Писатель горечи и гнева
							h4 К 190-летию М. Е. Салтыкова-Щедрина

					article.col-xs-12
						a(href="anonsDetail.html", title="Азбука хорошего поведения")
							time 28 января, 18:00
							h3 Дания, РЦНК в Копенгагене #[br]На русском языке
							h2 «Азбука хорошего поведения». Спектакль Ульяновского театра им. И. А. Гончарова


	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li.active: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="javascript:;", title="Содействие международному развитию") Содействие международному развитию
				a(href="javascript:;", title="Общественная дипломатия") Общественная дипломатия
				a(href="javascript:;", title="Продвижение русской культуры").active Продвижение русской культуры
				a(href="javascript:;", title="Поддержка соотечественников") Поддержка соотечественников
				a(href="javascript:;", title="Укрепление позиций русского языка") Укрепление позиций русского языка
				a(href="javascript:;", title="Образование и наука") Образование и наука
				a(href="javascript:;", title="Сохрание историко-мемориальных памятников и мест погребения") Сохрание историко-мемориальных памятников и мест погребения
				a(href="javascript:;", title="Развитие международных связей субъектов РФ") Развитие международных связей субъектов РФ
