extends includes/template

block title
	title contacts_center.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li.active: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="contacts_center.html", title="Центральный аппарат").active Центральный аппарат
				a(href="contacts_inworld.html", title="Представительства в мире") Представительства в мире
				a(href="contacts_callback", title="Написать обращение") Написать обращение

	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница
					li: a(href="contacts.html", title="Контакты") Контакты
		.row
			.col-xs-12
				h1 Центральный аппарат

				section.contacts
					h3 Почтовый адрес
					address 125009 Россия, Москва, ул. Воздвиженка, 18/9 #[br]Электронная почта: rossotr@rs.gov.ru

					h3 Офис в Москве на Воздвиженке

					h4 Руководство
					.row
						.col-xs-6
							p Приемная Руководителя Россотрудничества Л. Н. Глебовой
							h5 +7 (495) 690-12-45 #[br]+7 (495) 609-92-48 (факс)
							p Приемная заместителя Руководителя И. Б. Живихиной
							h5 +7 (499) 321-54-14

						.col-xs-6
							p Приемная заместителя Руководителя С. М. Круппо
							h5 +7 (499) 321-54-95
							p Приемная заместителя Руководителя А. В. Фролова
							h5 +7 (499) 321-54-60

					h4 Управления
					.row
						.col-xs-6
							p Управление российских центров науки и культуры (РЦНК) и страновых программ
							h5 +7 (499) 321-54-64
							p Управление стратегического планирования и кадрового развития
							h5 +7 (499) 321-54-15
							p Управление обеспечения деятельности
							h5 +7 (499) 321-54-81
							p Управление содействия международному развитию (СМР) и взаимодействию с международными организациями
							h5 +7 (499) 321-54-30
							p Управление социальной политики и кадров
							h5 +7 (499) 321-54-51

						.col-xs-6
							p Финансово-экономическое управление
							h5 +7 (499) 321-54-66
							p Пресс-служба
							h5 +7 (495) 697-60-20
							p Отдел документационного обеспечения и архива (для справок по документам)
							h5 +7 (495) 690-13-92 #[br]+7 (495) 609-92-42 (факс)
							p Отдел кадров, для справок по кадровым вопросам
							h5 +7 (499) 321-54-51
								br
								a(href="mailto:otdelkadrov@rs.gov.ru", title="otdelkadrov@rs.gov.ru") otdelkadrov@rs.gov.ru
							p Справки по обращениям граждан
							h5 +7 (499) 321-54-70

					h3 Офис в Москве на Мещанской улице

					h4 Руководство
					.row
						.col-xs-6
							p Приемная заместителя Руководителя Д. Ю. Гужели
							h5 +7 (499) 321-52-74

						.col-xs-6
							p Приемная заместителя Руководителя А. В. Радькова
							h5 +7 (499) 321-54-78 #[br]+7 (495) 204-86-57 (факс)

					h4 Управления
					.row
						.col-xs-6
							p Управление гуманитарного сотрудничества и молодежной политики
							h5 +7 (499) 321-54-08

							p Управление сотрудничества в сфере образования и науки
							h5 +7 (495) 204-86-61

						.col-xs-6
							p Управление по делам соотечественников и развитию общественной дипломати
							h5 +7 (499) 321-52-80


	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li: a(href="news.html" title="Новости") Новости
					li.active: a(href="contacts.html" title="Контакты") Контакты
			.subnav(role="navigation")
				a(href="contacts_center.html", title="Центральный аппарат").active Центральный аппарат
				a(href="contacts_inworld.html", title="Представительства в мире") Представительства в мире
				a(href="contacts_callback", title="Написать обращение") Написать обращение
