extends includes/template

block title
	title newsDetail.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li.active: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты

	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница
					li: a(href="news.html", title="Новости") Новости

		.row
			.col-xs-12
				header Общества дружбы

				h1 В Россотрудничестве прошло заседание Центрального правления «Союза друзей Болгарии»
				time 11 февраля
				h3 В Россотрудничестве состоялось заседание Центрального Правления «Союза друзей Болгарии» (СДБ). В ходе встречи были подведены итоги деятельности Союза за прошедший год и рассмотрен план работы на 2016 год.
				p В своем выступлении председатель Правления СДБ, Чрезвычайный и полномочный посол Российской Федерации А. В. Потапов, отметил, что за прошедший год Союзом было успешно реализовано немало интересных проектов, посвященных памятным датам истории и культуры России и Болгарии.
				p В ходе заседания был рассмотрен план совместных мероприятий на 2016 год, направленных на дальнейшее укрепление российско-болгарских культурно-гуманитарных связей, в том числе: проведение совместно с Администрацией города Мышкин V-ой российско-болгарской детской вокально-хоровой ассамблеи «Мышкинская Сказка», а также торжеств, посвященных Освобождению Болгарии от османского ига (3 марта — государственный праздник Болгарии) и Дню славянской письменности и культуры (24 мая).

				h3 Документы
				p
					a(href="javascript:;", title="Протокол заседания Центрального правления «Союза друзей Болгарии»") Протокол заседания Центрального правления «Союза друзей Болгарии» #[br]
					small PDF, 1,56 Мб
				p
					a(href="javascript:;", title="Фотографии со встречи") Фотографии со встречи #[br]
					small ZIP, 5,73 Мб

				hr

				p Учрежденный в ноябре 1991 года «Союз друзей Болгарии» является продолжателем дела и традиций общества советско-болгарской дружбы.  Основная задача Союза — укрепление и развитие вековых традиций дружбы между народами России и Болгарии, содействие в установлении и поддержании диалога, а также сотрудничества с болгарской общественностью, ознакомление широких слоев населения с историей, жизнью и традициями двух стран, с достижениями в области экономики, науки, техники, культуры, образования, спорта; развитие связей с соотечественниками, участие в распространении русского языка.
				p СДБ поддерживает постоянные рабочие контакты с Россотрудничеством, РАМС, Российским и Болгарским культурно-информационными центрами, другими официальными представительствами Болгарии в Москве, российским посольством и генеральными консульствами в Болгарии.

				hr
	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li.active: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты