extends includes/template

block title
	title news.html

block prepend scripts
	//script(src="./js/menu.js" defer)

block content
	.row
		.col-xs-12
			nav(role="navigation").navigation
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li.active: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты

	.content-block
		.row
			.col-xs-12
				ol.breadcrumb
					li: a(href="./", title="Главная страница") Главная страница

		.row
			.col-xs-12
				h1 Новости

				section.news.row
					time.col-xs-12 Сегодня, 27 февраля
					article.col-xs-12
						a(href="newsDetail.html", title="Россия принимает участие в Международной книжной ярмарке в Каире")
							h3 Продвижение российской культуры
							h2 Россия принимает участие в Международной книжной ярмарке в Каире

					article.col-xs-12
						a(href="newsDetail.html", title="В РЦНК в Нью-Дели прошел круглый стол «БРИКС: эволюция от акронима к глобальному игроку»")
							h3 Развитие деловых связей
							h2 В РЦНК в Нью-Дели прошел круглый стол «БРИКС: эволюция от акронима к глобальному игроку»

					article.col-xs-12
						a(href="newsDetail.html", title="Во Франции проходит творческий конкурс для учителей русского языка")
							h3 Образование
							h2 Во Франции проходит творческий конкурс для учителей русского языка

					time.col-xs-12 Вчера, 26 февраля
					article.col-xs-12
						a(href="newsDetail.html", title="Россотрудничество примет участие на открывающейся в Лондоне крупнейшей книжной выставке The London Book Fair")
							h3 Культура
							h2 Россотрудничество примет участие на открывающейся в Лондоне крупнейшей книжной выставке The London Book Fair

					article.col-xs-12
						a(href="newsDetail.html", title="В Нью-Йорке пройдут художественные выставки, посвященные Юрию Гагарину")
							h3 Общество
							h2 В Нью-Йорке пройдут художественные выставки, посвященные Юрию Гагарину

					article.col-xs-12
						a(href="newsDetail.html", title="В Вашингтоне обсудили перспективы сотрудничества в сфере высшего образования")
							h3 Образование
							h2 В Вашингтоне обсудили перспективы сотрудничества в сфере высшего образования

					time.col-xs-12 25 февраля
					article.col-xs-12
						a(href="newsDetail.html", title="РЦНК в Каире развивает деловые связи с египетскими вузами")
							h3 Образование
							h2 РЦНК в Каире развивает деловые связи с египетскими вузами

					article.col-xs-12
						a(href="newsDetail.html", title="Заместитель директора РИСИ Тамара Гузенкова стала почетным членом Евразийского экспертного клуба в Ереване")
							h3 Общество
							h2 Заместитель директора РИСИ Тамара Гузенкова стала почетным членом Евразийского экспертного клуба в Ереване

					article.col-xs-12
						a(href="newsDetail.html", title="В РЦНК в Афинах обсудили вопросы межправославных греко-российских связей")
							h3 Тематические встречи
							h2 В РЦНК в Афинах обсудили вопросы межправославных греко-российских связей

					p.readmore.text-center.col-xs-12
						a(href="javascript:;", title="Другие новости") Другие новости

	.row
		.col-xs-12
			nav(role="navigation").navigation.bottom
				ul.list-unstyled.list-inline
					li: a(href="about.html" title="О Россотрудничестве") О Россотрудничестве
					li: a(href="activity.html" title="Деятельность") Деятельность
					li: a(href="anons.html" title="Анонсы") Анонсы
					li.active: a(href="news.html" title="Новости") Новости
					li: a(href="contacts.html" title="Контакты") Контакты